html {
font-family: sans-serif;
background: #fff;
max-width: 70ch;
padding: 1em;
margin: auto;
line-height: 1.75;
color: #171717;
}
img, canvas {
width: 100%;
padding-bottom: 0.2em;
}
pre {
background: #e4e4e4;
padding: 2px 4px;
overflow: auto;
}
video {
width: 100%;
}
blockquote {
font-style: italic;
font-size: 90%;
border-left: 3px solid;
padding-left: 1em;
}
footer {
margin-top: 2em;
text-align: center;
font-size: 80%;
padding: 0.5rem;
} 
nav a, h3 a {
text-decoration: none;
}
a:link, a:visited {
color:  #444444;
}
a:hover {
color: #a3a3a3;
}
footer {
color: #444444;
}
input[type="file"] {
display:none;
}
button[onclick*="()"] {
cursor:pointer;
}
label {
display: block;
}
input, button, select, textarea {
font-family: inherit;
font-size: 1.8em;
font-weight: bold;
text-transform: uppercase;
padding: 0.4em;
margin: 0 0 0.5em 0;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 2px;
}
input:disabled {
color: #ccc;
}
input[type="range"] {
height: 0;
}
button {
color: #333;
background-color: #f4f4f4;
outline: none;
}
button:disabled {
color: #999;
}
button:not(:disabled):active {
background-color: #ddd;
}
button:focus {
border-color: #666;
}
